
.idea/
target/
Labs/Lab1/gradlew.bat
Labs/Lab1/gradlew
Labs/Lab1/gradle/wrapper/gradle-wrapper.properties
Labs/Lab1/gradle/wrapper/gradle-wrapper.jar
Labs/Lab1/build/
Labs/Lab1/.gradle/
Labs/Lab2/Devices.txt
Labs/Lab2/src/main/java/Main.java
